

<style>

body{
  overflow: hidden;
}
h1 {
  font-family: jukeboxfont;
  color: rgb(56, 65, 14);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(211,153,0,0.65);
    font-size: 4em;
    
}

.select{
  color: white;
  font-family: typewriter;
  font-size: 1.2em;
   -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.carousel-inner {
width:500px;
height:480px;
box-shadow:0 0 5px 5px rgb(211,153,0,0.65)
 
}

.albumcontainer {
  display:flex;
  justify-content: top;
  align-items: center;
  flex-direction:column;
  flex-wrap:wrap;
  height: 100vh;
  width: 100vw;
  background-image: url("/images/jukebackground.jpg");
  background-size: cover;
  border: 8px groove rgb(211,153,0,0.65);
  box-sizing:border-box;
  overflow:hidden;
  box-sizing: border-box;
}





.modal-content {
    display: flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(0,0,0,0);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}


.getstartbutton {
    background-image: url("/images/startscreen.png");
    background-size:cover;
    width: 900px;
    height: 450px;
    z-index: 9;
    position:absolute;
    top: 75px;
    
   
   }
     .getstartbutton:active {
    background-image: url("/images/startscreenpress.png");
    
     }

     
   
</style>
 
<body>

<script >

function togglePlay() {
  var myAudio = document.getElementById("audioplayer");
  return myAudio.paused? myAudio.play() : myAudio.pause();
};


    function checkplay() {
        let inputs = document.getElementById("btnControl");
        inputs.checked = true;
    }
    
     function checkpause() {
            let inputs = document.getElementById("btnControl");
        inputs.checked = false;
    }

    function changesong(currentsong) {
       songs.push(currentsong);
        
    }
   
    function addall(num, artist){
      
         <% @tracks.each do |song| %>
            if(<%=song.album_id%> == num){
            play_all()
            songs.push(<%= raw song.songlinky%>)
            songnames.push('<%=song.name%>')
            songartist.push(artist)
           
            }
             
          <% end %>
      }
   
    function changetracktext(trackname, trackartist) {
       songnames.push(trackname);
       songartist.push(trackartist);
    }
    function play_sound_queue() {
      
      var myaudio = document.getElementById("audioplayer")
      document.getElementById("audioplayer").src = songs[0];
      document.getElementById("trackname").innerHTML = songnames[0];
      document.getElementById("artistname").innerHTML = songartist[0];
      if(songs.length>0){
          myaudio.addEventListener('ended', nextrack);
          function nextrack(){
            myaudio.removeEventListener('ended', nextrack)
            console.log("hit");
            songs.shift(); 
            songnames.shift();
            songartist.shift();
            play_sound_queue();
          }
      }
      if(songnames.length == 0){
        document.getElementById("trackname").innerHTML = "";
      }
    }

   
    
    var songs = [];
    var songnames = [];
    var songartist = [];
   
  
    function play_all() {
      
      if(songs.length ==1){
      play_sound_queue();
      }
    }
    
  </script>

<script>
const myModal = document.getElementById('myModal')
const myInput = document.getElementById('myInput')



function hidethis(){

    let mystart = document.getElementById('getstart')
    mystart.style.display = 'none';
  }

</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<div id="hi"></div>
         <audio data-turbo-permanent id="audioplayer" onplay = "checkplay()" onpause = "checkpause()" autoplay class = "playbutton"  src = ""  > </audio> 

<div class = "albumcontainer">

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <p class = "select">Album Select</p>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false"  data-bs-touch="true">
    <div class="carousel-inner">
      <% @albums.each_with_index do |album, i| %>
        <div class="carousel-item <%= "active" if i == 0 %>">
          <div data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="dooby(<%=i+1%>), hidethis()"><img src="<%= album.albumArt%>"   class="d-block w-100"> </div>
            
        </div>
        <%end%>
        <div class = "buttons">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
    </div>
  </div>
</div>
 
</div>

<div class = "getstartbutton" id="getstart" data-bs-toggle="modal" data-bs-target="#exampleModal"></div> 
                <div class = "recordbox">
                    <input onclick="togglePlay()"  type="checkbox" id="btnControl" />
                        <label class="btn" for="btnControl">
                            <div class = "record">
                                <div class = "tracktext" id = "trackname">
                                   
                                </div>
                                 <div class = "artisttext" id = "artistname">
                                  
                                </div>
                                
                                
                            </div>
                        </label>
                </div>
</body>