
<head>

</head>


<style>

::-webkit-scrollbar {
  height: 20px;
}
::-webkit-scrollbar-track {
  background: rgb(196, 186, 156, 0);
  border: 1px inset grey;
  border-radius: 40px;
  
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: radial-gradient(#503819, #16110b);
  border: 1px solid #1a1208;
  border-radius: 40px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.466);
  
}
::-webkit-scrollbar-thumb:active {
 background: radial-gradient(#af7931, #332319);
}
::-webkit-scrollbar-button:single-button {
  background: radial-gradient(#503819, #16110b);
  border: 1px solid #1a1208;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.466);
  width: 20px;
}
::-webkit-scrollbar-button:single-button:active {
  background: radial-gradient(#af7931, #332319);
  border: 1px solid #1a1208;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.466);
  width: 20px;
}

body{
     overflow: hidden;
}




    .trackbtn{
        display:flex;
        background-image: url("/images/trackbutton.png");
        background-size:100%;
        border: 4px outset #b29065;
        margin: 1px;
        justify-content:center;
        align-items: center;
        height:19%;
        width:50%;
        font-family: typewriter;
        box-sizing:border-box;
        box-shadow: 6px 5px 5px 1px rgb(0,0,0,0.5);
       
       
    
    }

      .trackbtn:active{
        transform: scale(0.966);
        transform: translateY(2px);
        border: 4px inset #b29065;
       
    
    }
     .playallbtn{
        display:flex;
        background-image: url("/images/trackbutton.png");
        background-size:100%;
        border: 4px outset #b29065;
        margin: 6px;
        margin-top:115px;
        justify-content:center;
        align-items: center;
        height:18%;
        width:95%;
        font-family: typewriter;
        box-sizing:border-box;
        box-shadow: 0px 0px 15px 4px rgb(211,153,0,0.75);
       
       
    
    }

      .playallbtn:active{
        transform: scale(0.966);
        transform: translateY(2px);
        border: 4px inset #b29065;
       
    
    }
   
    .albuminfobox{
        display:flex;
        border: 6px groove rgb(211,153,0);
        flex-direction: column;
        margin-top:15px;
        margin-left:0px;
        width: 40%;
        height:50vh;
        margin-left:15px;
        background-color: rgb(0,0,0,0.5);
        
        
        
    }
     .appwindow{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        min-width: 99vw;
        
        height: 100vh;
        background-image: url("/images/jukebackground.jpg");
        background-size: cover;
        border: 8px groove rgb(211,153,0,0.65);
        box-sizing:border-box;
        overflow:hidden;
        
    }
    .lefthalf{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        width:50%;
        height:100%;
        overflow: hidden;
    }
    .righthalf{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        width:50%;
        height: 100%;
        overflow: hidden;
    }
    .albumart{
        display:flex;
        flex-wrap:wrap;
        margin: 15px;
        margin-right:0px;
        width: 25vw;
        height: 50vh;
        background-image: url("<%= @album.albumArt %>");
        background-size: cover;
        border: 6px groove rgb(211,153,0);
        opacity: 0.75;
        z-index: 2; 
        overflow: hidden;
        

    }
    .infofont{
        margin: 3px;
        padding: 0;
        font-family: jukeboxfont;
        font-size: 2.5vmin;
        color:white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(56, 65, 14);
    }
    .songlist{
      display:flex;
      flex-wrap:wrap;
      flex-direction: column;
      width: 100%;
      height:57%;
      margin:5px;
      margin-right:35px;
      overflow:scroll;
      z-index: 4;
     overflow-y: hidden;
    }
    
    .tracktext{
        display:flex;
        justify-content: center;
        align-content: center;
        text-align:center;
        overflow: hidden;
        font-size: 12px;  
        margin-bottom: 70px;
        font-family: jukeboxfont;
    }
    .artisttext{
       
        font-family: jukeboxfont;
    }
   .homebutton {
    background-image: url("/images/home.png");
    background-size:cover;
    width: 50px;
    height: 50px;
    z-index: 5;
    position:relative;
    top: 95px;
    left: 570px;
   }
     .homebutton:active {
    background-image: url("/images/homepress.png");
     }
</style>



    <div class= "appwindow">
        <div class = "lefthalf">
            
            <div class = "albumart"></div>
            <div class = albuminfobox>
                <p class = "infofont"><%= @album.title %></p>
                <p class = "infofont">by <%= @artist.name %></p>
                <p class = "infofont">( <%= @album.releaseYear %> )</p>
                <p class = "infofont"><%= @album.genre %></p>
            
            <button type="button" class="playallbtn" 
           onclick="addall(<%= @album.id %>, '<%=@artist.name%>')"
            
            >Play Album </button>
               
            </div>


         

        </div>

        <div class = "righthalf">
        
            <div class = "songlist">
                    <% @songs.each do |song| %>
                        <button type="button" class="trackbtn" onclick="changesong(<%=song.songlinky%>), changetracktext('<%=song.name%>', '<%=@artist.name%>'), play_all()"><%= song.name %> </button>
                    <% end %>
            </div>
              <div class = "homebutton" data-bs-toggle="modal" data-bs-target="#exampleModal"></div> 
        </div>
    </div>

    






